<nav class="navbar navbar-dark bg-dark fixed-bottom">
  <div class="navbar-expand m-auto navbar-text">
    <div class="mx-auto">
      
    </div>
  </div>
  <div class="navbar-expand m-auto navbar-text">
    <div class="mx-auto">
      Made with <i class="fa fa-heart"></i> by <a href="https://twitter.com/sadishag">sadishag</a> 
    </div>
  </div>
  <div class="navbar-expand ml-auto navbar-nav">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/assets/resume/RESUME.pdf" target="_blank">
          <i class="fa fa-file"></i>
        </a>
        <a class="nav-item nav-link" href="mailto:sadishag@gmail.com?subject=Hello">
          <i class="fa fa-envelope"></i>
        </a>
        <a class="nav-item nav-link" href="https://github.com/sadishag" target="_blank">
          <i class="fa fa-github"></i>
        </a>
        <a class="nav-item nav-link" href="https://www.linkedin.com/in/sadishag/" target="_blank">
          <i class="fa fa-linkedin"></i>
        </a>
        <a class="nav-item nav-link" href="https://twitter.com/sadishag" target="_blank">
          <i class="fa fa-twitter"></i>
        </a>
      </div>
    </div>
</nav>
