body, html {
    height: 92.5%;
    margin: 0;
}

.bg {
    /* The image used */
    background-image: url("https://scontent.fybz2-1.fna.fbcdn.net/v/t31.0-8/1262468_10151823488698058_1898688594_o.jpg?_nc_cat=100&_nc_ht=scontent.fybz2-1.fna&oh=4a284e77827e91d172e7a6febd50013e&oe=5CB140CC");

    /* Full height */
    height: 92.5%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}