<div class="bg">
  <div class="container">
    <header>
      <div class="title">
        <h1>Sadisha</h1>
        <h1>Galappatti</h1>
        <p>Software Engineer, Musician, Car Enthusiast</p>
      </div>
      <!-- <ul>
        <li>
          <a href="assets/resume/RESUME.pdf" class="btn-social btn-outline"><i class="fa fa-fw fa-file-pdf-o "></i></a>
        </li>
        <li>
          <a href="mailto:sadishag@gmail.com?subject=Hello" class="btn-social btn-outline"><i class="fa fa-fw fa-envelope "></i></a>
        </li>
        <li>
          <a href="https://github.com/sadishag" class="btn-social btn-outline"><i class="fa fa-fw fa-github"></i></a>
        </li>
        <li>
          <a href="https://twitter.com/SadishaG" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/sadishag" class="btn-social btn-outline"><i class="fa fa-fw fa-linkedin"></i></a>
        </li>
      </ul> -->
    </header>
  </div>
</div>
