
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

header {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1em;
}

header h1 {
  margin: 0;
}

#section-container {
  display: flex; 
  flex-direction: column;
  max-width: 1080px;
  margin: auto;
}

section {
  padding: 2em;
  display: flex;
  flex-direction: column; 
}

p {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
}

h2 {
  color: rgb(76, 76, 76);
  display: flex;
  justify-content: center;
}

.project {
  margin-bottom: 1em;
}

footer {
  text-align: center;
  padding: 1em;
  background-color: #333;
  color: #fff;
}
